@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}
.dark-theme {
    background-color: #404040;
    color: #FFFFFF;
}
.sidebar-dark {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50px;
    background-color: rgb(50, 54, 58);
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    text-align: center;
    vertical-align:middle;
    text-transform: uppercase;
}
.sidebar-light {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50px;
    background-color: rgb(166, 166, 166);
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    text-align: center;
    vertical-align:middle;
    text-transform: uppercase;
}
.sidebar-title {
    text-transform: uppercase;
}
.sidebar-title-blue {
    display: block;
    background-color: rgb(194, 209, 239);
}
.sidebar-item {
    display: block;
    height: 50px;
    font-size: 45px;
}
.sidebar-link {
    color: #FFFFFF;
    text-decoration: none;
}
.sidebar-active-blue {
    background-color: rgb(51, 102, 204);
}

.sidebar-active-red {
    background-color: rgb(153, 51, 51);
}
.sidebar-title-red {
    background-color: rgb(223, 159, 159);
}
.not-sidebar {
    margin-left: 10%;
    padding: 1px 16px;
}

.sidebar-active-gray {
    background-color: rgb(204, 204, 204);
}
.sidebar-title-gray {
    background-color: rgb(230, 230, 230);
}
.header-modified {
    border-bottom: 1px solid;
}
.title-epic {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 6px;
}
.modal-background {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    position: relative;
    display: none;
}
.modal-background-dark-theme {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    position: relative;
    display: none;
}
.modal {
    display: none;
    width: 50%;
    height: 50%;
    background-color: #FFFFFF;
    color: #000000;
    position: absolute;
    left: 25%;
    top: 25%;
}
.modal-dark-theme {
    display: none;
    width: 50%;
    height: 50%;
    background-color: #000000;
    color: #FFFFFF;
    position: absolute;
    left: 25%;
    top: 25%;
}
.gradient-blue {
    background-color: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: #000000;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes modalback {
    0%   {opacity: 0.0, display: block}
    100% {opacity: 1.0}
}

/* Standard syntax */
@keyframes modalback {
    0%   {opacity: 0.0, display: block}
    100% {opacity: 1.0}
}
